@{
    ViewBag.Title = "Chuyển phát nhanh";
}

<div ng-app="myApp" ng-controller="myCtrl">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol><!--/ Indicators end-->
        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image:url(../Content/images/slider/slide2.png)">

            </div><!--/ Carousel item end -->

            <div class="carousel-item" style="background-image:url(../Content/images/slider/slide1.png)">
            </div><!--/ Carousel item end -->
        </div><!-- Carousel inner end-->
        <!-- Controllers -->
        <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>

    </div><!--/ Carousel end -->

    <section id="features" class="features">
        <div class="container">
            <div class="row features-row">

                <div class="feature-box col-lg-4 col-md-12">
                    <span class="feature-icon">
                        <i class="ion-social-buffer-outline"></i>
                    </span>
                    <div class="feature-box-content">
                        <a href="/donhang/create"> <h3 class="title-normal">Tạo đơn hàng</h3></a>
                        <p>Tạo nhanh đơn hàng online</p>
                    </div>
                </div><!--/ End 1st features -->

                <div class="feature-box two col-lg-4 col-md-12">
                    <span class="feature-icon">
                        <i class="ion-ios-search"></i>
                    </span>
                    <div class="feature-box-content">
                        <a href="/tracuu/xem"><h3 class="title-normal">Tra cứu vận đơn</h3></a>
                        <p>Tra cứu hành trình đơn hàng</p>
                    </div>
                </div><!--/ End 2nd features -->

                <div class="feature-box three col-lg-4 col-md-12">
                    <span class="feature-icon">
                        <i class="ion-ios-person-outline"></i>
                    </span>
                    <div class="feature-box-content">
                        <a href="/home/contact"><h3 class="title-normal">Liên hệ</h3></a>
                        <p>Hệ thống tổng đài hoặt đồng 24/7 để phục vụ quý khách</p>
                    </div>
                </div><!--/ End 3rd features -->

            </div><!-- Content row end -->
        </div><!--/ Container end -->
    </section><!--/ Featured end -->

    <section id="image-block" class="image-block no-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12 ts-padding img-block-left">
                    <h3 class="title-classic">DỊCH VỤ CÔNG TY BƯU CHÍNH MIỀN NAM</h3>
                    <p> Dịch vụ chuyển phát hàng hóa, tài liệu trong và ngoài nước. Chúng tôi cũng cấp cho quý khách 1 dịch vụ vận chuyển đáng tin cậy, an toàn và nhanh chóng</p>
                    <div class="gap-20"></div>

                    <div class="row">
                        <div class="col-md-4 col-12">
                            <div class="feature">
                                <span class="feature-icon">
                                    <i class="ion-ios-world-outline"></i>
                                </span>
                                <h3 class="feature-title">Phát hàng thu tiền (COD)</h3>
                                <p class="feature-desc">
                                    Phát hàng thu tiền (COD) giúp việc kinh doanh thương mại điện tử của khách hàng thuận tiện hơn
                                </p>
                            </div>
                        </div>
                        <!--/ End 1st -->
                        <div class="col-md-4 col-12">
                            <div class="feature">
                                <span class="feature-icon">
                                    <i class="ion-ios-people-outline"></i>
                                </span>
                                <h3 class="feature-title">Chuyển phát tiết kiệm</h3>
                                <p class="feature-desc">
                                    Chuyển phát tiết kiệm (CPTK) sẽ mang đến mức chi phí hợp lý nhất cho người gửi
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <div class="feature">
                                <span class="feature-icon">
                                    <i class="ion-ios-lightbulb-outline"></i>
                                </span>
                                <h3 class="feature-title">Dịch vụ gia tăng</h3>
                                <p class="feature-desc">
                                    DVGT đáp ứng thêm mọi nhu cầu của quý khách.
                                </p>
                            </div>
                        </div>
                        <!--/ End 2nd -->
                    </div>
                    <!--1st Row end -->

                    <div class="gap-20"></div>

                    <div class="row">

                        <!--/ End 3rd -->
                        <div class="col-md-4 col-xs-12">
                            <div class="feature">
                                <span class="feature-icon">
                                    <i class="ion-ios-analytics-outline"></i>
                                </span>
                                <h3 class="feature-title">Chuyển phát nhanh</h3>
                                <p class="feature-desc">
                                    Với dịch vụ chuyển phát nhanh (CPN), bưu phẩm sẽ đến tay người nhận trong thời gian nhanh nhất
                                </p>
                            </div>
                        </div>
                        <!--/ End 4th -->
                        <div class="col-md-4 col-xs-12">
                            <div class="feature">
                                <span class="feature-icon">
                                    <i class="ion-ios-analytics-outline"></i>
                                </span>
                                <h3 class="feature-title">Chuyển phát quốc tế</h3>
                                <p class="feature-desc">
                                    Xoá tan mọi khoảng cách về địa lý giữa các doanh nghiệp trong nước và quốc tế với hơn 200 quốc gia trên thế giới
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--1st Row end -->


                </div><!-- Col end -->
                <div class="col-lg-4 col-md-12 ts-padding features-row search-price-form">
                    <form ng-submit="calPrice()">
                        <div class="row ">
                            <div class="col-sm-12">
                                <label><strong>Nơi gửi</strong></label>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" ng-model="mailer.SenderProvinceID" ng-change="provinceChange('district', 'send')" required>
                                    <option ng-repeat="item in provinceSend" value="{{item.code}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" ng-model="mailer.SenderDistrictID" required>
                                    <option ng-repeat="item in districtSend" value="{{item.code}}">{{item.name}}</option>
                                </select>
                            </div>


                        </div>
                        <div class="gap-20"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label><strong>Nơi Nhận</strong></label>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" ng-model="mailer.RecieverProvinceID" ng-change="provinceChange('district', 'recei')" required>
                                    <option ng-repeat="item in provinceSend" value="{{item.code}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" ng-model="mailer.RecieverDistrictID" required>
                                    <option ng-repeat="item in districtRecei" value="{{item.code}}">{{item.name}}</option>
                                </select>
                            </div>


                        </div>
                        <div class="gap-20"></div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label><strong>Dịch vụ</strong></label>
                                <select class="form-control" ng-model="mailer.MailerTypeID">
                                    <option ng-repeat="item in mailerTypes" value="{{item.code}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label><strong>Tiền thu hộ</strong></label>
                                <input type="text" class="form-control" ng-model="mailer.COD" />
                            </div>
                        </div>
                        <div class="gap-20"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button class="themeBtn ripple-effect" type="submit">XEM GIÁ</button>
                            </div>
                        </div>
                        <div class="gap-20"></div>
                        <div class="col-sm-12">
                            <h3 class="widget-title">{{mailer.PriceDefault | currency: ' VND'}}</h3>
                        </div>

                    </form> <!-- Form end -->

                </div><!-- Col end -->
            </div>
            <!--/ Content row end -->
        </div>
        <!--/ Container end -->
    </section>

    <section id="news" class="news">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-head">Tin tức</h3>
                </div>
            </div><!--/ Title row end -->

            <div class="row">
                <div class="col-lg-4 col-md-12" ng-repeat="item in baiviets">
                    <div class="latest-post">
                        <img class="img-fluid" src="{{item.image}}" alt="img">
                        <div class="post-body">
                            <h4 class="post-title">
                                <a href="/baiviet/xem/{{item.code}}">{{item.title}}</a>
                            </h4>
                            <div class="post-text">
                                <p>
                                    {{item.content}}
                                </p>
                            </div>
                        </div>
                    </div><!-- Latest post end -->
                </div><!-- 1st post col end -->



            </div><!--/ Content row end -->
        </div><!--/ Container end -->
    </section><!--/ News end -->

    <section id="clients" class="clients">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h3 class="title-head">CHÚNG TÔI ĐANG PHỤC VỤ</h3>
                </div>
            </div><!--/ Title row end -->
            <div class="row">
                <div class="col-md-12 ml-lg-auto">
                    <ul class="row clients-row unstyled">
                        <li class="col-lg-4 col-md-4 col-6">
                            <span class="client-logo">
                                <a href="#"><img src="~/content/images/clients/client1.jpg" alt=""> </a>
                            </span>
                        </li>
                        <li class="col-lg-4 col-md-4 col-6">
                            <span class="client-logo">
                                <a href="#"><img src="~/content/images/clients/client2.jpg" alt=""> </a>
                            </span>
                        </li>
                        <li class="col-lg-4 col-md-4 col-6">
                            <span class="client-logo">
                                <a href="#"><img src="~/content/images/clients/client3.jpg" alt=""> </a>
                            </span>
                        </li>
                        <li class="col-lg-4 col-md-4 col-6">
                            <span class="client-logo">
                                <a href="#"><img src="~/content/images/clients/client4.jpg" alt=""> </a>
                            </span>
                        </li>
                        <li class="col-lg-4 col-md-4 col-6">
                            <span class="client-logo">
                                <a href="#"><img src="~/content/images/clients/client5.jpg" alt=""> </a>
                            </span>
                        </li>
                    </ul>

                </div>
            </div><!--/ Content row end -->
        </div><!--/ Container end -->
    </section><!--/ Clients end -->

</div>

@section scripts {
    <script>
        // tao controller

       var mailerTypesGet = angular.fromJson(@Html.Raw(Json.Encode(ViewBag.MailerTypes)));

        var provinceSendGet = angular.fromJson(@Html.Raw(Json.Encode(ViewBag.Provinces)));


    </script>
    <script src="~/Scripts/home.js"></script>
}