
@{
    ViewBag.Title = "Đăng ký thành công";
}

<section id="main-container" class="main-container">

    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="title-head">Chúng tôi đã gửi một mail xác nhận tới mail của quý khách</h3>
            </div>
        </div><!--/ Title row end -->
    </div><!--/ Container end -->

</section><!-- Main container end -->