@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<section id="main-container" class="main-container">

    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h3 class="title-head">Please check your email to reset your password.</h3>
            </div>
        </div><!--/ Title row end -->
    </div><!--/ Container end -->

</section><!-- Main container end -->